name:  "Add link to Jira item in PR"

on:
  pull_request:
    types:
      - opened
      - edited

jobs:
  jira_pr_comment:
    name: "Add comment to PR"
    uses: "rtbhouse-apps/github-workflows-jira/.github/workflows/add_jira_link_to_pr.yaml@v0"
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
